# Ignorar o ambiente virtual
venv/
.env/
.env.local/

# Ignorar arquivos de configuração local


# Ignorar arquivos do Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignorar arquivos do pytest
.pytest_cache/
.coverage
htmlcov/

# Ignorar arquivos do VS Code
.vscode/

# Ignorar arquivos do SQLite (caso use em testes)
*.sqlite

# Ignorar arquivos do Alembic (migrações)
alembic/versions/

# Ignorar arquivos de log
*.log

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db